/*
Pipedrive API v2

No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

API version: 2.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pipedriveapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DealInstallmentsAPIService DealInstallmentsAPI service
type DealInstallmentsAPIService service

type DealInstallmentsAPIDeleteInstallmentRequest struct {
	ctx context.Context
	ApiService *DealInstallmentsAPIService
	id int32
	installmentId int32
}

func (r DealInstallmentsAPIDeleteInstallmentRequest) Execute() (*DeleteInstallmentResponse, *http.Response, error) {
	return r.ApiService.DeleteInstallmentExecute(r)
}

/*
DeleteInstallment Delete an installment from a deal

Removes an installment from a deal.

Only available in Growth and above plans.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the deal
 @param installmentId The ID of the installment
 @return DealInstallmentsAPIDeleteInstallmentRequest
*/
func (a *DealInstallmentsAPIService) DeleteInstallment(ctx context.Context, id int32, installmentId int32) DealInstallmentsAPIDeleteInstallmentRequest {
	return DealInstallmentsAPIDeleteInstallmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		installmentId: installmentId,
	}
}

// Execute executes the request
//  @return DeleteInstallmentResponse
func (a *DealInstallmentsAPIService) DeleteInstallmentExecute(r DealInstallmentsAPIDeleteInstallmentRequest) (*DeleteInstallmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteInstallmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DealInstallmentsAPIService.DeleteInstallment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deals/{id}/installments/{installment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"installment_id"+"}", url.PathEscape(parameterValueToString(r.installmentId, "installmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DealInstallmentsAPIGetInstallmentsRequest struct {
	ctx context.Context
	ApiService *DealInstallmentsAPIService
	dealIds *[]int32
	cursor *string
	limit *int32
	sortBy *string
	sortDirection *string
}

// An array of integers with the IDs of the deals for which the attached installments will be returned. A maximum of 100 deal IDs can be provided.
func (r DealInstallmentsAPIGetInstallmentsRequest) DealIds(dealIds []int32) DealInstallmentsAPIGetInstallmentsRequest {
	r.dealIds = &dealIds
	return r
}

// For pagination, the marker (an opaque string value) representing the first item on the next page
func (r DealInstallmentsAPIGetInstallmentsRequest) Cursor(cursor string) DealInstallmentsAPIGetInstallmentsRequest {
	r.cursor = &cursor
	return r
}

// For pagination, the limit of entries to be returned. If not provided, 100 items will be returned. Please note that a maximum value of 500 is allowed.
func (r DealInstallmentsAPIGetInstallmentsRequest) Limit(limit int32) DealInstallmentsAPIGetInstallmentsRequest {
	r.limit = &limit
	return r
}

// The field to sort by. Supported fields: &#x60;id&#x60;, &#x60;billing_date&#x60;, &#x60;deal_id&#x60;.
func (r DealInstallmentsAPIGetInstallmentsRequest) SortBy(sortBy string) DealInstallmentsAPIGetInstallmentsRequest {
	r.sortBy = &sortBy
	return r
}

// The sorting direction. Supported values: &#x60;asc&#x60;, &#x60;desc&#x60;.
func (r DealInstallmentsAPIGetInstallmentsRequest) SortDirection(sortDirection string) DealInstallmentsAPIGetInstallmentsRequest {
	r.sortDirection = &sortDirection
	return r
}

func (r DealInstallmentsAPIGetInstallmentsRequest) Execute() (*GetInstallmentsResponse, *http.Response, error) {
	return r.ApiService.GetInstallmentsExecute(r)
}

/*
GetInstallments List installments added to a list of deals

Lists installments attached to a list of deals.

Only available in Growth and above plans.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DealInstallmentsAPIGetInstallmentsRequest
*/
func (a *DealInstallmentsAPIService) GetInstallments(ctx context.Context) DealInstallmentsAPIGetInstallmentsRequest {
	return DealInstallmentsAPIGetInstallmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetInstallmentsResponse
func (a *DealInstallmentsAPIService) GetInstallmentsExecute(r DealInstallmentsAPIGetInstallmentsRequest) (*GetInstallmentsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetInstallmentsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DealInstallmentsAPIService.GetInstallments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deals/installments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dealIds == nil {
		return localVarReturnValue, nil, reportError("dealIds is required and must be specified")
	}

	{
		t := *r.dealIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "deal_ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "deal_ids", t, "form", "multi")
		}
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "form", "")
	} else {
        var defaultValue string = "id"
        parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", defaultValue, "form", "")
        r.sortBy = &defaultValue
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", r.sortDirection, "form", "")
	} else {
        var defaultValue string = "asc"
        parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", defaultValue, "form", "")
        r.sortDirection = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DealInstallmentsAPIPostInstallmentRequest struct {
	ctx context.Context
	ApiService *DealInstallmentsAPIService
	id int32
	addInstallmentRequestBody *AddInstallmentRequestBody
}

func (r DealInstallmentsAPIPostInstallmentRequest) AddInstallmentRequestBody(addInstallmentRequestBody AddInstallmentRequestBody) DealInstallmentsAPIPostInstallmentRequest {
	r.addInstallmentRequestBody = &addInstallmentRequestBody
	return r
}

func (r DealInstallmentsAPIPostInstallmentRequest) Execute() (*AddAInstallmentResponse, *http.Response, error) {
	return r.ApiService.PostInstallmentExecute(r)
}

/*
PostInstallment Add an installment to a deal

Adds an installment to a deal.

An installment can only be added if the deal includes at least one one-time product. 
If the deal contains at least one recurring product, adding installments is not allowed.

Only available in Growth and above plans.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the deal
 @return DealInstallmentsAPIPostInstallmentRequest
*/
func (a *DealInstallmentsAPIService) PostInstallment(ctx context.Context, id int32) DealInstallmentsAPIPostInstallmentRequest {
	return DealInstallmentsAPIPostInstallmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AddAInstallmentResponse
func (a *DealInstallmentsAPIService) PostInstallmentExecute(r DealInstallmentsAPIPostInstallmentRequest) (*AddAInstallmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AddAInstallmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DealInstallmentsAPIService.PostInstallment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deals/{id}/installments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.addInstallmentRequestBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DealInstallmentsAPIUpdateInstallmentRequest struct {
	ctx context.Context
	ApiService *DealInstallmentsAPIService
	id int32
	installmentId int32
	updateInstallmentRequestBody *UpdateInstallmentRequestBody
}

func (r DealInstallmentsAPIUpdateInstallmentRequest) UpdateInstallmentRequestBody(updateInstallmentRequestBody UpdateInstallmentRequestBody) DealInstallmentsAPIUpdateInstallmentRequest {
	r.updateInstallmentRequestBody = &updateInstallmentRequestBody
	return r
}

func (r DealInstallmentsAPIUpdateInstallmentRequest) Execute() (*UpdateInstallmentResponse, *http.Response, error) {
	return r.ApiService.UpdateInstallmentExecute(r)
}

/*
UpdateInstallment Update an installment added to a deal

Edits an installment added to a deal.

Only available in Growth and above plans.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the deal
 @param installmentId The ID of the installment
 @return DealInstallmentsAPIUpdateInstallmentRequest
*/
func (a *DealInstallmentsAPIService) UpdateInstallment(ctx context.Context, id int32, installmentId int32) DealInstallmentsAPIUpdateInstallmentRequest {
	return DealInstallmentsAPIUpdateInstallmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		installmentId: installmentId,
	}
}

// Execute executes the request
//  @return UpdateInstallmentResponse
func (a *DealInstallmentsAPIService) UpdateInstallmentExecute(r DealInstallmentsAPIUpdateInstallmentRequest) (*UpdateInstallmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UpdateInstallmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DealInstallmentsAPIService.UpdateInstallment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/deals/{id}/installments/{installment_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"installment_id"+"}", url.PathEscape(parameterValueToString(r.installmentId, "installmentId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateInstallmentRequestBody
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-token"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
