openapi: 3.0.1
info:
  title: Pipedrive API v2
  version: 2.0.0
servers:
- url: https://api.pipedrive.com/api/v2
tags:
- description: |
    Activities are appointments/tasks/events on a calendar that can be associated with a deal, a lead, a person and an organization. Activities can be of different type (such as call, meeting, lunch or a custom type - see ActivityTypes object) and can be assigned to a particular user. Note that activities can also be created without a specific date/time.
  name: Activities
- description: |
    Activity fields represent different fields that an activity has.
  name: ActivityFields
- description: |
    Deals represent ongoing, lost or won sales to an organization or to a person. Each deal has a monetary value and must be placed in a stage. Deals can be owned by a user, and followed by one or many users. Each deal consists of standard data fields but can also contain a number of custom fields. The custom fields can be recognized by long hashes as keys. These hashes can be mapped against `DealField.key`. The corresponding label for each such custom field can be obtained from `DealField.name`.
  name: Deals
- description: |
    Deal products are goods or services attached to a deal. Each deal product links a product to a deal with configurable quantity, pricing, and discounts, and contributes to the total value of the deal.
  name: DealProducts
- description: |
    Deal installments are scheduled payment entries attached to a deal, enabling split payment arrangements.
  name: DealInstallments
- description: |
    Deal fields represent the schema for a deal in the context of the company of the authorized user. Each company can have a different schema for their deals, with various custom fields.
  name: DealFields
- description: |
    Products are the goods or services you are dealing with. Each product can have N different price points - firstly, each product can have a price in N different currencies, and secondly, each product can have N variations of itself, each having N prices in different currencies. Note that only one price per variation per currency is supported. Products can be instantiated to deals. In the context of instantiation, a custom price, quantity and discount can be applied.
  name: Products
- description: |
    Product fields represent the schema for a product in the context of the company of the authorized user. Each company can have a different schema for their products, with various custom fields.
  name: ProductFields
- description: |
    Leads are potential deals stored in Leads Inbox before they are archived or converted to a deal. Each lead needs to be named (using the `title` field) and be linked to a person or an organization. In addition to that, a lead can contain most of the fields a deal can (such as `value` or `expected_close_date`).
  name: Leads
- description: |
    Organizations are companies and other kinds of organizations you are making deals with. Persons can be associated with organizations so that each organization can contain one or more persons.
  name: Organizations
- description: |
    Organization fields represent the schema for an organization in the context of the company of the authorized user. Each company can have a different schema for their organizations, with various custom fields.
  name: OrganizationFields
- description: |
    Persons are your contacts, the customers you are doing deals with. Each person can belong to an organization. Persons should not be confused with users.
  name: Persons
- description: |
    Person fields represent the schema for a person in the context of the company of the authorized user. Each company can have a different schema for their persons, with various custom fields.
  name: PersonFields
- description: |
    Ordered reference objects, pointing to either deals, persons, organizations, leads, products, files or mail attachments.
  name: ItemSearch
- description: |
    Stage is a logical component of a pipeline, and essentially a bucket that can hold a number of deals. In the context of the pipeline a stage belongs to, it has an order number which defines the order of stages in that pipeline.
  name: Stages
- description: |
    Pipelines are essentially ordered collections of stages.
  name: Pipelines
- description: |
    Users are individuals who have a Pipedrive account and can interact with its features.
  name: Users
- description: |
    Projects are used to plan and manage work that spans across deals, activities, and tasks. Each project can have a board, phases, and associated activities and tasks.
  name: Projects
- description: |
    Project boards are the top-level containers for organizing projects into phases. Each board contains one or more phases that define the workflow stages for projects.
  name: ProjectBoards
- description: |
    Project phases are the stages within a project board that define the workflow for projects. Each phase belongs to a board and can contain multiple projects.
  name: ProjectPhases
- description: |
    Project templates are reusable blueprints for creating projects with predefined structure and settings.
  name: ProjectTemplates
- description: |
    Project fields represent the schema for a project in the context of the company of the authorized user. Each company can have a different schema for their projects, with various custom fields.
  name: ProjectFields
- description: |
    Tasks are action items that can be associated with a project.
  name: Tasks
- description: |
    Beta endpoints are endpoints that may have changes without a regular 60-90 day notice period.
  name: Beta
paths:
  /activities:
    get:
      description: Returns data about all activities.
      operationId: getActivities
      parameters:
      - description: "If supplied, only activities matching the specified filter are\
          \ returned"
        explode: true
        in: query
        name: filter_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional comma separated string array of up to 100 entity ids\
          \ to fetch. If filter_id is provided, this is ignored. If any of the requested\
          \ entities do not exist or are not visible, they are not included in the\
          \ response."
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: "If supplied, only activities owned by the specified user are\
          \ returned. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: owner_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only activities linked to the specified deal are\
          \ returned. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: deal_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only activities linked to the specified lead are\
          \ returned. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: lead_id
        required: false
        schema:
          type: string
        style: form
      - description: "If supplied, only activities whose primary participant is the\
          \ given person are returned. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: person_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only activities linked to the specified organization\
          \ are returned. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: org_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only activities with specified 'done' flag value\
          \ are returned"
        explode: true
        in: query
        name: done
        required: false
        schema:
          type: boolean
        style: form
      - description: "If set, only activities with an `update_time` later than or\
          \ equal to this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
        style: form
      - description: "If set, only activities with an `update_time` earlier than this\
          \ time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        explode: true
        in: query
        name: updated_until
        required: false
        schema:
          type: string
        style: form
      - description: "The field to sort by. Supported fields: `id`, `update_time`,\
          \ `add_time`, `due_date`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: id
          enum:
          - id
          - update_time
          - add_time
          - due_date
          type: string
        style: form
      - description: "The sorting direction. Supported values: `asc`, `desc`."
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Optional comma separated string array of additional fields to
          include
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - attendees
          type: string
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 1
                  subject: Activity Subject
                  type: activity_type
                  owner_id: 1
                  creator_user_id: 1
                  is_deleted: false
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  deal_id: 5
                  lead_id: abc-def
                  person_id: 6
                  org_id: 7
                  project_id: 8
                  due_date: 2021-01-01
                  due_time: 15:00:00
                  duration: 01:00:00
                  busy: true
                  done: true
                  marked_as_done_time: 2021-01-01T00:00:00Z
                  location:
                    value: 123 Main St
                    country: USA
                    admin_area_level_1: CA
                    admin_area_level_2: Santa Clara
                    locality: Sunnyvale
                    sublocality: Downtown
                    route: Main St
                    street_number: "123"
                    subpremise: Apt 1
                    postal_code: "94085"
                  participants:
                  - person_id: 1
                    primary: true
                  attendees:
                  - email: some@email.com
                    name: Some Name
                    status: accepted
                    is_organizer: true
                    person_id: 1
                    user_id: 1
                  conference_meeting_client: google_meet
                  conference_meeting_url: https://meet.google.com/abc-xyz
                  conference_meeting_id: abc-xyz
                  public_description: Public Description
                  priority: 263
                  note: Note
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetActivitiesResponse"
          description: Get all activities
      security:
      - api_key: []
      - oauth2:
        - activities:read
        - activities:full
      summary: Get all activities
      tags:
      - Activities
      x-token-cost: 10
    post:
      description: Adds a new activity.
      operationId: addActivity
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addActivity_request"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  subject: Activity Subject
                  type: activity_type
                  owner_id: 1
                  creator_user_id: 1
                  is_deleted: false
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  deal_id: 5
                  lead_id: abc-def
                  person_id: 6
                  org_id: 7
                  project_id: 8
                  due_date: 2021-01-01
                  due_time: 15:00:00
                  duration: 01:00:00
                  busy: true
                  done: true
                  marked_as_done_time: 2021-01-01T00:00:00Z
                  location:
                    value: 123 Main St
                    country: USA
                    admin_area_level_1: CA
                    admin_area_level_2: Santa Clara
                    locality: Sunnyvale
                    sublocality: Downtown
                    route: Main St
                    street_number: "123"
                    subpremise: Apt 1
                    postal_code: "94085"
                  participants:
                  - person_id: 1
                    primary: true
                  attendees:
                  - email: some@email.com
                    name: Some Name
                    status: accepted
                    is_organizer: true
                    person_id: 1
                    user_id: 1
                  conference_meeting_client: google_meet
                  conference_meeting_url: https://meet.google.com/abc-xyz
                  conference_meeting_id: abc-xyz
                  public_description: Public Description
                  priority: 263
                  note: Note
              schema:
                $ref: "#/components/schemas/UpsertActivityResponse"
          description: Add activity
      security:
      - api_key: []
      - oauth2:
        - activities:full
      summary: Add a new activity
      tags:
      - Activities
      x-token-cost: 5
  /activities/{id}:
    delete:
      description: "Marks an activity as deleted. After 30 days, the activity will\
        \ be permanently deleted."
      operationId: deleteActivity
      parameters:
      - description: The ID of the activity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
              schema:
                $ref: "#/components/schemas/DeleteActivityResponse"
          description: Delete activity
      security:
      - api_key: []
      - oauth2:
        - activities:full
      summary: Delete an activity
      tags:
      - Activities
      x-token-cost: 3
    get:
      description: Returns the details of a specific activity.
      operationId: getActivity
      parameters:
      - description: The ID of the activity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Optional comma separated string array of additional fields to
          include
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - attendees
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  subject: Activity Subject
                  type: activity_type
                  owner_id: 1
                  creator_user_id: 1
                  is_deleted: false
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  deal_id: 5
                  lead_id: abc-def
                  person_id: 6
                  org_id: 7
                  project_id: 8
                  due_date: 2021-01-01
                  due_time: 15:00:00
                  duration: 01:00:00
                  busy: true
                  done: true
                  marked_as_done_time: 2021-01-01T00:00:00Z
                  location:
                    value: 123 Main St
                    country: USA
                    admin_area_level_1: CA
                    admin_area_level_2: Santa Clara
                    locality: Sunnyvale
                    sublocality: Downtown
                    route: Main St
                    street_number: "123"
                    subpremise: Apt 1
                    postal_code: "94085"
                  participants:
                  - person_id: 1
                    primary: true
                  attendees:
                  - email: some@email.com
                    name: Some Name
                    status: accepted
                    is_organizer: true
                    person_id: 1
                    user_id: 1
                  conference_meeting_client: google_meet
                  conference_meeting_url: https://meet.google.com/abc-xyz
                  conference_meeting_id: abc-xyz
                  public_description: Public Description
                  priority: 263
                  note: Note
              schema:
                $ref: "#/components/schemas/UpsertActivityResponse"
          description: Get activity
      security:
      - api_key: []
      - oauth2:
        - activities:read
        - activities:full
      summary: Get details of an activity
      tags:
      - Activities
      x-token-cost: 1
    patch:
      description: Updates the properties of an activity.
      operationId: updateActivity
      parameters:
      - description: The ID of the activity
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addActivity_request"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  subject: Activity Subject
                  type: activity_type
                  owner_id: 1
                  creator_user_id: 1
                  is_deleted: false
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  deal_id: 5
                  lead_id: abc-def
                  person_id: 6
                  org_id: 7
                  project_id: 8
                  due_date: 2021-01-01
                  due_time: 15:00:00
                  duration: 01:00:00
                  busy: true
                  done: true
                  marked_as_done_time: 2021-01-01T00:00:00Z
                  location:
                    value: 123 Main St
                    country: USA
                    admin_area_level_1: CA
                    admin_area_level_2: Santa Clara
                    locality: Sunnyvale
                    sublocality: Downtown
                    route: Main St
                    street_number: "123"
                    subpremise: Apt 1
                    postal_code: "94085"
                  participants:
                  - person_id: 1
                    primary: true
                  attendees:
                  - email: some@email.com
                    name: Some Name
                    status: accepted
                    is_organizer: true
                    person_id: 1
                    user_id: 1
                  conference_meeting_client: google_meet
                  conference_meeting_url: https://meet.google.com/abc-xyz
                  conference_meeting_id: abc-xyz
                  public_description: Public Description
                  priority: 263
                  note: Note
              schema:
                $ref: "#/components/schemas/UpsertActivityResponse"
          description: Edit activity
      security:
      - api_key: []
      - oauth2:
        - activities:full
      summary: Update an activity
      tags:
      - Activities
      x-token-cost: 5
  /activityFields:
    get:
      description: Returns metadata about all activity fields in the company.
      operationId: getActivityFields
      parameters:
      - description: Optional comma separated string array of additional data namespaces
          to include in response
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - ui_visibility
          type: string
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - field_name: Subject
                  field_code: subject
                  description: The subject or title of the activity
                  field_type: varchar
                  options: null
                  subfields: null
                  is_custom_field: false
                  is_optional_response_field: false
                  ui_visibility:
                    add_visible_flag: true
                    details_visible_flag: true
                - field_name: Status
                  field_code: 40characterhashforcustomfieldidentifier
                  description: Current status of the activity
                  field_type: enum
                  options:
                  - id: 1
                    label: Not Started
                  - id: 2
                    label: In Progress
                  - id: 3
                    label: Completed
                  subfields: null
                  is_custom_field: true
                  is_optional_response_field: false
                  ui_visibility:
                    add_visible_flag: true
                    details_visible_flag: true
                - field_name: Location
                  field_code: location
                  description: Physical location where the activity takes place
                  field_type: address
                  options: null
                  subfields:
                  - field_code: value
                    field_name: Address value of Location
                    field_type: varchar
                  - field_code: street_number
                    field_name: House number of Location
                    field_type: varchar
                  - field_code: route
                    field_name: Street/road name of Location
                    field_type: varchar
                  - field_code: subpremise
                    field_name: Apartment/suite of Location
                    field_type: varchar
                  - field_code: locality
                    field_name: District of Location
                    field_type: varchar
                  - field_code: admin_area_level_1
                    field_name: State/province of Location
                    field_type: varchar
                  - field_code: admin_area_level_2
                    field_name: County of Location
                    field_type: varchar
                  - field_code: country
                    field_name: Country of Location
                    field_type: varchar
                  - field_code: postal_code
                    field_name: Postal code of Location
                    field_type: varchar
                  - field_code: formatted_address
                    field_name: Formatted address of Location
                    field_type: varchar
                  is_custom_field: false
                  is_optional_response_field: false
                  ui_visibility:
                    add_visible_flag: true
                    details_visible_flag: true
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/getActivityFields_200_response"
          description: Get all activity fields
      security:
      - api_key: []
      - oauth2:
        - admin
      summary: Get all activity fields
      tags:
      - ActivityFields
      x-token-cost: 10
  /activityFields/{field_code}:
    get:
      description: Returns metadata about a specific activity field.
      operationId: getActivityField
      parameters:
      - description: The unique code identifying the field
        explode: false
        in: path
        name: field_code
        required: true
        schema:
          type: string
        style: simple
      - description: Optional comma separated string array of additional data namespaces
          to include in response
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - ui_visibility
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  field_name: Subject
                  field_code: subject
                  description: The subject or title of the activity
                  field_type: varchar
                  options: null
                  subfields: null
                  is_custom_field: false
                  is_optional_response_field: false
                  ui_visibility:
                    add_visible_flag: true
                    details_visible_flag: true
              schema:
                $ref: "#/components/schemas/getActivityField_200_response"
          description: Get one activity field
      security:
      - api_key: []
      - oauth2:
        - admin
      summary: Get one activity field
      tags:
      - ActivityFields
      x-token-cost: 1
  /deals:
    get:
      description: Returns data about all not archived deals.
      operationId: getDeals
      parameters:
      - description: "If supplied, only deals matching the specified filter are returned"
        explode: true
        in: query
        name: filter_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional comma separated string array of up to 100 entity ids\
          \ to fetch. If filter_id is provided, this is ignored. If any of the requested\
          \ entities do not exist or are not visible, they are not included in the\
          \ response."
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: "If supplied, only deals owned by the specified user are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: owner_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals linked to the specified person are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: person_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals linked to the specified organization\
          \ are returned. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: org_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals in the specified pipeline are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: pipeline_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals in the specified stage are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: stage_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Only fetch deals with a specific status. If omitted, all not\
          \ deleted deals are returned. If set to deleted, deals that have been deleted\
          \ up to 30 days ago will be included. Multiple statuses can be included\
          \ as a comma separated array. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - open
          - won
          - lost
          - deleted
          type: string
        style: form
      - description: "If set, only deals with an `update_time` later than or equal\
          \ to this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
        style: form
      - description: "If set, only deals with an `update_time` earlier than this time\
          \ are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        explode: true
        in: query
        name: updated_until
        required: false
        schema:
          type: string
        style: form
      - description: "The field to sort by. Supported fields: `id`, `update_time`,\
          \ `add_time`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: id
          enum:
          - id
          - update_time
          - add_time
          type: string
        style: form
      - description: "The sorting direction. Supported values: `asc`, `desc`."
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Optional comma separated string array of additional fields to
          include
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - next_activity_id
          - last_activity_id
          - first_won_time
          - products_count
          - files_count
          - notes_count
          - followers_count
          - email_messages_count
          - activities_count
          - done_activities_count
          - undone_activities_count
          - participants_count
          - last_incoming_mail_time
          - last_outgoing_mail_time
          - smart_bcc_email
          - source_lead_id
          type: string
        style: form
      - description: "Optional comma separated string array of custom fields keys\
          \ to include. If you are only interested in a particular set of custom fields,\
          \ please use this parameter for faster results and smaller response.<br/>A\
          \ maximum of 15 keys is allowed."
        explode: true
        in: query
        name: custom_fields
        required: false
        schema:
          type: string
        style: form
      - description: "When provided with a 'true' value, single option and multiple\
          \ option custom fields values contain objects in the form of '{ id: number,\
          \ label: string }' instead of plain id"
        explode: true
        in: query
        name: include_option_labels
        required: false
        schema:
          type: boolean
        style: form
      - description: "When provided with 'true' value, response will include an array\
          \ of label objects in the form of '{ id: number, label: string }'"
        explode: true
        in: query
        name: include_labels
        required: false
        schema:
          type: boolean
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 1
                  title: Deal Title
                  creator_user_id: 1
                  owner_id: 1
                  value: 200
                  person_id: 1
                  org_id: 1
                  stage_id: 1
                  pipeline_id: 1
                  currency: USD
                  archive_time: 2021-01-01T00:00:00Z
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  stage_change_time: 2021-01-01T00:00:00Z
                  status: open
                  is_archived: false
                  is_deleted: false
                  probability: 90
                  lost_reason: Lost Reason
                  visible_to: 7
                  close_time: 2021-01-01T00:00:00Z
                  won_time: 2021-01-01T00:00:00Z
                  lost_time: 2021-01-01T00:00:00Z
                  local_won_date: 2021-01-01
                  local_lost_date: 2021-01-01
                  local_close_date: 2021-01-01
                  expected_close_date: 2021-01-01
                  label_ids:
                  - 1
                  - 2
                  - 3
                  origin: ManuallyCreated
                  origin_id: null
                  channel: 52
                  channel_id: Jun23 Billboards
                  source_lead_id: 35b0d604-eb0d-42d0-be11-eac8832051f0
                  acv: 120
                  arr: 120
                  mrr: 10
                  custom_fields: {}
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetDealsResponse"
          description: Get all not archived deals
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Get all deals
      tags:
      - Deals
      x-tool-description: "Retrieves paginated active deals with filtering by owner,\
        \ person, organization, pipeline, stage, status, and time ranges. Essential\
        \ for analytics, reporting, dashboard views, and bulk operations. Filters\
        \ combine for precise selection; filter_id overrides individual filters."
      x-token-cost: 10
    post:
      description: Adds a new deal.
      operationId: addDeal
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addDeal_request"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  title: Deal Title
                  creator_user_id: 1
                  owner_id: 1
                  value: 200
                  person_id: 1
                  org_id: 1
                  stage_id: 1
                  pipeline_id: 1
                  currency: USD
                  archive_time: 2021-01-01T00:00:00Z
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  stage_change_time: 2021-01-01T00:00:00Z
                  status: open
                  is_archived: false
                  is_deleted: false
                  probability: 90
                  lost_reason: Lost Reason
                  visible_to: 7
                  close_time: 2021-01-01T00:00:00Z
                  won_time: 2021-01-01T00:00:00Z
                  lost_time: 2021-01-01T00:00:00Z
                  local_won_date: 2021-01-01
                  local_lost_date: 2021-01-01
                  local_close_date: 2021-01-01
                  expected_close_date: 2021-01-01
                  label_ids:
                  - 1
                  - 2
                  - 3
                  origin: ManuallyCreated
                  origin_id: null
                  channel: 52
                  channel_id: Jun23 Billboards
                  source_lead_id: 35b0d604-eb0d-42d0-be11-eac8832051f0
                  acv: 120
                  arr: 120
                  mrr: 10
                  custom_fields: {}
              schema:
                $ref: "#/components/schemas/UpsertDealResponse"
          description: Add deal
      security:
      - api_key: []
      - oauth2:
        - deals:full
      summary: Add a new deal
      tags:
      - Deals
      x-tool-description: "Creates new sales deals with customizable properties: title\
        \ (required), value, person, organization, pipeline stage, and custom fields.\
        \ Essential for lead conversion, sales processes, and integrations. Automatically\
        \ assigns timestamps and ownership."
      x-token-cost: 5
  /deals/archived:
    get:
      description: Returns data about all archived deals.
      operationId: getArchivedDeals
      parameters:
      - description: "If supplied, only deals matching the specified filter are returned"
        explode: true
        in: query
        name: filter_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Optional comma separated string array of up to 100 entity ids\
          \ to fetch. If filter_id is provided, this is ignored. If any of the requested\
          \ entities do not exist or are not visible, they are not included in the\
          \ response."
        explode: true
        in: query
        name: ids
        required: false
        schema:
          type: string
        style: form
      - description: "If supplied, only deals owned by the specified user are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: owner_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals linked to the specified person are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: person_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals linked to the specified organization\
          \ are returned. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: org_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals in the specified pipeline are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: pipeline_id
        required: false
        schema:
          type: integer
        style: form
      - description: "If supplied, only deals in the specified stage are returned.\
          \ If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: stage_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Only fetch deals with a specific status. If omitted, all not\
          \ deleted deals are returned. If set to deleted, deals that have been deleted\
          \ up to 30 days ago will be included. Multiple statuses can be included\
          \ as a comma separated array. If filter_id is provided, this is ignored."
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - open
          - won
          - lost
          - deleted
          type: string
        style: form
      - description: "If set, only deals with an `update_time` later than or equal\
          \ to this time are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        explode: true
        in: query
        name: updated_since
        required: false
        schema:
          type: string
        style: form
      - description: "If set, only deals with an `update_time` earlier than this time\
          \ are returned. In RFC3339 format, e.g. 2025-01-01T10:20:00Z."
        explode: true
        in: query
        name: updated_until
        required: false
        schema:
          type: string
        style: form
      - description: "The field to sort by. Supported fields: `id`, `update_time`,\
          \ `add_time`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: id
          enum:
          - id
          - update_time
          - add_time
          type: string
        style: form
      - description: "The sorting direction. Supported values: `asc`, `desc`."
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      - description: Optional comma separated string array of additional fields to
          include
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - next_activity_id
          - last_activity_id
          - first_won_time
          - products_count
          - files_count
          - notes_count
          - followers_count
          - email_messages_count
          - activities_count
          - done_activities_count
          - undone_activities_count
          - participants_count
          - last_incoming_mail_time
          - last_outgoing_mail_time
          - smart_bcc_email
          - source_lead_id
          type: string
        style: form
      - description: "Optional comma separated string array of custom fields keys\
          \ to include. If you are only interested in a particular set of custom fields,\
          \ please use this parameter for faster results and smaller response.<br/>A\
          \ maximum of 15 keys is allowed."
        explode: true
        in: query
        name: custom_fields
        required: false
        schema:
          type: string
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 1
                  title: Deal Title
                  creator_user_id: 1
                  owner_id: 1
                  value: 200
                  person_id: 1
                  org_id: 1
                  stage_id: 1
                  pipeline_id: 1
                  currency: USD
                  archive_time: 2021-01-01T00:00:00Z
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  stage_change_time: 2021-01-01T00:00:00Z
                  status: open
                  is_archived: true
                  is_deleted: false
                  probability: 90
                  lost_reason: Lost Reason
                  visible_to: 7
                  close_time: 2021-01-01T00:00:00Z
                  won_time: 2021-01-01T00:00:00Z
                  lost_time: 2021-01-01T00:00:00Z
                  local_won_date: 2021-01-01
                  local_lost_date: 2021-01-01
                  local_close_date: 2021-01-01
                  expected_close_date: 2021-01-01
                  label_ids:
                  - 1
                  - 2
                  - 3
                  origin: ManuallyCreated
                  origin_id: null
                  channel: 52
                  channel_id: Jun23 Billboards
                  source_lead_id: 35b0d604-eb0d-42d0-be11-eac8832051f0
                  acv: 120
                  arr: 120
                  mrr: 10
                  custom_fields: {}
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetDealsResponse"
          description: Get all archived deals
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Get all archived deals
      tags:
      - Deals
      x-tool-description: "Retrieves paginated archived deals with same filtering\
        \ as active deals. Essential for historical analysis, closed opportunity reporting,\
        \ data recovery, and audit trails. Supports filtering by owner, person, organization,\
        \ pipeline, stage, and time ranges."
      x-token-cost: 20
  /deals/{id}:
    delete:
      description: "Marks a deal as deleted. After 30 days, the deal will be permanently\
        \ deleted."
      operationId: deleteDeal
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
              schema:
                $ref: "#/components/schemas/DeleteDealResponse"
          description: Delete deal
      security:
      - api_key: []
      - oauth2:
        - deals:full
      summary: Delete a deal
      tags:
      - Deals
      x-tool-description: "Soft-deletes deals with 30-day recovery period before permanent\
        \ removal. Essential for deal cleanup, error correction, and removing unwanted\
        \ opportunities. Becomes inaccessible via standard APIs but recoverable during\
        \ grace period."
      x-token-cost: 3
    get:
      description: Returns the details of a specific deal.
      operationId: getDeal
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: Optional comma separated string array of additional fields to
          include
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - next_activity_id
          - last_activity_id
          - first_won_time
          - products_count
          - files_count
          - notes_count
          - followers_count
          - email_messages_count
          - activities_count
          - done_activities_count
          - undone_activities_count
          - participants_count
          - last_incoming_mail_time
          - last_outgoing_mail_time
          - smart_bcc_email
          - source_lead_id
          type: string
        style: form
      - description: "Optional comma separated string array of custom fields keys\
          \ to include. If you are only interested in a particular set of custom fields,\
          \ please use this parameter for faster results and smaller response.<br/>A\
          \ maximum of 15 keys is allowed."
        explode: true
        in: query
        name: custom_fields
        required: false
        schema:
          type: string
        style: form
      - description: "When provided with a 'true' value, single option and multiple\
          \ option custom fields values contain objects in the form of '{ id: number,\
          \ label: string }' instead of plain id"
        explode: true
        in: query
        name: include_option_labels
        required: false
        schema:
          type: boolean
        style: form
      - description: "When provided with 'true' value, response will include an array\
          \ of label objects in the form of '{ id: number, label: string }'"
        explode: true
        in: query
        name: include_labels
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  title: Deal Title
                  creator_user_id: 1
                  owner_id: 1
                  value: 200
                  person_id: 1
                  org_id: 1
                  stage_id: 1
                  pipeline_id: 1
                  currency: USD
                  archive_time: 2021-01-01T00:00:00Z
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  stage_change_time: 2021-01-01T00:00:00Z
                  status: open
                  is_archived: false
                  is_deleted: false
                  probability: 90
                  lost_reason: Lost Reason
                  visible_to: 7
                  close_time: 2021-01-01T00:00:00Z
                  won_time: 2021-01-01T00:00:00Z
                  lost_time: 2021-01-01T00:00:00Z
                  local_won_date: 2021-01-01
                  local_lost_date: 2021-01-01
                  local_close_date: 2021-01-01
                  expected_close_date: 2021-01-01
                  label_ids:
                  - 1
                  - 2
                  - 3
                  origin: ManuallyCreated
                  origin_id: null
                  channel: 52
                  channel_id: Jun23 Billboards
                  source_lead_id: 35b0d604-eb0d-42d0-be11-eac8832051f0
                  acv: 120
                  arr: 120
                  mrr: 10
                  custom_fields: {}
              schema:
                $ref: "#/components/schemas/UpsertDealResponse"
          description: Get deal
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Get details of a deal
      tags:
      - Deals
      x-tool-description: "Fetches comprehensive details of a specific deal by ID,\
        \ including all properties, custom fields, associated contacts, and metadata.\
        \ Use this endpoint for deal detail pages, updating deal information, or when\
        \ you need complete deal context. Supports optional field inclusion for optimized\
        \ data retrieval and custom field expansion for enhanced deal analysis."
      x-token-cost: 1
    patch:
      description: Updates the properties of a deal.
      operationId: updateDeal
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDeal_request"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  title: Deal Title
                  creator_user_id: 1
                  owner_id: 1
                  value: 200
                  person_id: 1
                  org_id: 1
                  stage_id: 1
                  pipeline_id: 1
                  currency: USD
                  archive_time: 2021-01-01T00:00:00Z
                  add_time: 2021-01-01T00:00:00Z
                  update_time: 2021-01-01T00:00:00Z
                  stage_change_time: 2021-01-01T00:00:00Z
                  status: open
                  is_archived: false
                  is_deleted: false
                  probability: 90
                  lost_reason: Lost Reason
                  visible_to: 7
                  close_time: 2021-01-01T00:00:00Z
                  won_time: 2021-01-01T00:00:00Z
                  lost_time: 2021-01-01T00:00:00Z
                  local_won_date: 2021-01-01
                  local_lost_date: 2021-01-01
                  local_close_date: 2021-01-01
                  expected_close_date: 2021-01-01
                  label_ids:
                  - 1
                  - 2
                  - 3
                  origin: ManuallyCreated
                  origin_id: null
                  channel: 52
                  channel_id: Jun23 Billboards
                  source_lead_id: 35b0d604-eb0d-42d0-be11-eac8832051f0
                  acv: 120
                  arr: 120
                  mrr: 10
                  custom_fields: {}
              schema:
                $ref: "#/components/schemas/UpsertDealResponse"
          description: Edit deal
      security:
      - api_key: []
      - oauth2:
        - deals:full
      summary: Update a deal
      tags:
      - Deals
      x-tool-description: "Modifies deal properties using PATCH semantics for partial\
        \ updates without affecting unchanged fields. Essential for deal progression,\
        \ value updates, stage changes, and workflow automation. Preserves data integrity\
        \ by updating only provided fields."
      x-token-cost: 5
  /deals/{id}/followers:
    get:
      description: Lists users who are following the deal.
      operationId: getDealFollowers
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - user_id: 1
                  add_time: 2021-01-01T00:00:00Z
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetFollowersResponse"
          description: List entity followers
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: List followers of a deal
      tags:
      - Deals
      x-tool-description: "Retrieves users following a deal for visibility into collaboration\
        \ and stakeholder involvement. Essential for team coordination, notification\
        \ management, and understanding deal ownership in collaborative sales environments."
      x-token-cost: 10
    post:
      description: Adds a user as a follower to the deal.
      operationId: addDealFollower
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addDealFollower_request"
      responses:
        "201":
          content:
            application/json:
              example:
                success: true
                data:
                  user_id: 1
                  add_time: 2021-01-01T00:00:00Z
              schema:
                $ref: "#/components/schemas/AddFollowerResponse"
          description: Add a follower
      security:
      - api_key: []
      - oauth2:
        - deals:full
      summary: Add a follower to a deal
      tags:
      - Deals
      x-tool-description: "Adds user as deal follower to receive notifications and\
        \ updates about progress. Essential for team collaboration, manager oversight,\
        \ stakeholder visibility, and proper deal communication."
      x-token-cost: 5
  /deals/{id}/followers/changelog:
    get:
      description: Lists changelogs about users have followed the deal.
      operationId: getDealFollowersChangelog
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - action: added
                  actor_user_id: 1
                  follower_user_id: 1
                  time: 2024-01-01T00:00:00Z
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetFollowerChangelogsResponse"
          description: List entity followers
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: List followers changelog of a deal
      tags:
      - Deals
      x-tool-description: "Retrieves historical log of deal follower changes including\
        \ start and stop events. Essential for audit trails, team collaboration analysis,\
        \ compliance, and tracking deal stakeholder evolution over time."
      x-token-cost: 10
  /deals/{id}/followers/{follower_id}:
    delete:
      description: Deletes a user follower from the deal.
      operationId: deleteDealFollower
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the following user
        explode: false
        in: path
        name: follower_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  user_id: 1
              schema:
                $ref: "#/components/schemas/DeleteFollowerResponse"
          description: Remove a follower
      security:
      - api_key: []
      - oauth2:
        - deals:full
      summary: Delete a follower from a deal
      tags:
      - Deals
      x-tool-description: "Removes user from deal's follower list by follower ID,\
        \ stopping notifications and updates. Essential for team restructuring, role\
        \ changes, access control, and managing stakeholder lists."
      x-token-cost: 3
  /deals/products:
    get:
      description: Returns data about products attached to deals
      operationId: getDealsProducts
      parameters:
      - description: An array of integers with the IDs of the deals for which the
          attached products will be returned. A maximum of 100 deal IDs can be provided.
        explode: false
        in: query
        name: deal_ids
        required: true
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "The field to sort by. Supported fields: `id`, `deal_id`, `add_time`,\
          \ `update_time`, `order_nr`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: id
          enum:
          - id
          - deal_id
          - add_time
          - update_time
          - order_nr
          type: string
        style: form
      - description: "The sorting direction. Supported values: `asc`, `desc`."
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 3
                  sum: 90
                  tax: 0
                  deal_id: 1
                  name: Mechanical Pencil
                  product_id: 1
                  product_variation_id: null
                  order_nr: 50
                  add_time: 2019-12-19T11:36:49Z
                  update_time: 2019-12-19T11:36:49Z
                  comments: ""
                  currency: USD
                  discount: 0
                  quantity: 1
                  item_price: 90
                  tax_method: inclusive
                  discount_type: percentage
                  is_enabled: true
                  billing_frequency: one-time
                  billing_frequency_cycles: null
                  billing_start_date: 2019-12-19
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetDealsProductsResponse"
          description: List of products attached to deals
      security:
      - api_key: []
      - oauth2:
        - products:read
        - products:full
        - deals:read
        - deals:full
      summary: Get deal products of several deals
      tags:
      - DealProducts
      x-tool-description: "Retrieves product attachments across multiple deals (up\
        \ to 100 IDs) in single request. Essential for bulk product analysis, revenue\
        \ calculations, sales analytics, and commission calculations across deal portfolios."
      x-token-cost: 10
  /deals/search:
    get:
      description: "Searches all deals by title, notes and/or custom fields. This\
        \ endpoint is a wrapper of <a href=\"https://developers.pipedrive.com/docs/api/v1/ItemSearch#searchItem\"\
        >/v1/itemSearch</a> with a narrower OAuth scope. Found deals can be filtered\
        \ by the person ID and the organization ID."
      operationId: searchDeals
      parameters:
      - description: The search term to look for. Minimum 2 characters (or 1 if using
          `exact_match`). Please note that the search term has to be URL encoded.
        explode: true
        in: query
        name: term
        required: true
        schema:
          type: string
        style: form
      - description: "A comma-separated string array. The fields to perform the search\
          \ from. Defaults to all of them. Only the following custom field types are\
          \ searchable: `address`, `varchar`, `text`, `varchar_auto`, `double`, `monetary`\
          \ and `phone`. Read more about searching by custom fields <a href=\"https://support.pipedrive.com/en/article/search-finding-what-you-need#searching-by-custom-fields\"\
          \ target=\"_blank\" rel=\"noopener noreferrer\">here</a>."
        explode: true
        in: query
        name: fields
        required: false
        schema:
          enum:
          - custom_fields
          - notes
          - title
          type: string
        style: form
      - description: "When enabled, only full exact matches against the given term\
          \ are returned. It is <b>not</b> case sensitive."
        explode: true
        in: query
        name: exact_match
        required: false
        schema:
          type: boolean
        style: form
      - description: Will filter deals by the provided person ID. The upper limit
          of found deals associated with the person is 2000.
        explode: true
        in: query
        name: person_id
        required: false
        schema:
          type: integer
        style: form
      - description: Will filter deals by the provided organization ID. The upper
          limit of found deals associated with the organization is 2000.
        explode: true
        in: query
        name: organization_id
        required: false
        schema:
          type: integer
        style: form
      - description: "Will filter deals by the provided specific status. open = Open,\
          \ won = Won, lost = Lost. The upper limit of found deals associated with\
          \ the status is 2000."
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - open
          - won
          - lost
          type: string
        style: form
      - description: Supports including optional fields in the results which are not
          provided by default
        explode: true
        in: query
        name: include_fields
        required: false
        schema:
          enum:
          - deal.cc_email
          type: string
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  items:
                  - result_score: 1.22
                    item:
                      id: 1
                      type: deal
                      title: Jane Doe deal
                      value: 100
                      currency: USD
                      status: open
                      visible_to: 3
                      owner:
                        id: 1
                      stage:
                        id: 1
                        name: Lead In
                      person:
                        id: 1
                        name: Jane Doe
                      organization: null
                      custom_fields: []
                      notes: []
                      is_archived: false
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetDealSearchResponse"
          description: Success
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
        - search:read
      summary: Search deals
      tags:
      - Deals
      x-tool-description: "Performs full-text search across deal titles, notes, and\
        \ custom fields with advanced filtering. Essential for search functionality,\
        \ autocomplete features, and deal discovery. Supports exact matching, field-specific\
        \ searches, and filtering by person, organization, or status."
      x-token-cost: 20
  /deals/{id}/products:
    delete:
      description: "Deletes multiple products from a deal. If no product IDs are specified,\
        \ up to 100 products will be removed from the deal. A maximum of 100 product\
        \ IDs can be provided per request."
      operationId: deleteManyDealProducts
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "Comma-separated list of deal product IDs to delete. If not provided,\
          \ all deal products will be deleted up to 100 items. Maximum 100 IDs allowed."
        explode: true
        in: query
        name: ids
        required: false
        schema:
          example: "1,2,3"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  ids:
                  - 1
                  - 2
                  - 3
                additional_data:
                  more_items_in_collection: false
              schema:
                $ref: "#/components/schemas/DeleteManyDealProductResponse"
          description: Delete many products from a deal
      security:
      - api_key: []
      - oauth2:
        - products:full
        - deals:full
      summary: Delete many products from a deal
      tags:
      - DealProducts
      x-tool-description: "Bulk-deletes products from a deal to simplify management\
        \ and cleanup. Supports selective deletion (by specifying product IDs) or\
        \ full removal of up to 100 products per request, enabling efficient deal\
        \ maintenance and product update workflows."
      x-token-cost: 15
    get:
      description: Lists products attached to a deal.
      operationId: getDealProducts
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "The field to sort by. Supported fields: `id`, `add_time`, `update_time`,\
          \ `order_nr`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: id
          enum:
          - id
          - add_time
          - update_time
          - order_nr
          type: string
        style: form
      - description: "The sorting direction. Supported values: `asc`, `desc`."
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 3
                  sum: 90
                  tax: 0
                  deal_id: 1
                  name: Mechanical Pencil
                  product_id: 1
                  product_variation_id: null
                  order_nr: 50
                  add_time: 2019-12-19T11:36:49Z
                  update_time: 2019-12-19T11:36:49Z
                  comments: ""
                  currency: USD
                  discount: 0
                  quantity: 1
                  item_price: 90
                  tax_method: inclusive
                  discount_type: percentage
                  is_enabled: true
                  billing_frequency: one-time
                  billing_frequency_cycles: null
                  billing_start_date: 2019-12-19
                additional_data:
                  next_cursor: eyJmaWVsZCI6ImlkIiwiZmllbGRWYWx1ZSI6Nywic29ydERpcmVjdGlvbiI6ImFzYyIsImlkIjo3fQ
              schema:
                $ref: "#/components/schemas/GetDealsProductsResponse"
          description: List of products attached to deals
      security:
      - api_key: []
      - oauth2:
        - products:read
        - products:full
        - deals:read
        - deals:full
      summary: List products attached to a deal
      tags:
      - DealProducts
      x-tool-description: "Retrieves products attached to deal with detailed information:\
        \ quantities, prices, and configurations. Essential for deal value analysis,\
        \ product management, accurate summaries, and pricing calculations."
      x-token-cost: 10
    post:
      description: "Adds a product to a deal, creating a new item called a deal-product."
      operationId: addDealProduct
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addDealProductRequest"
      responses:
        "201":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 3
                  sum: 90
                  tax: 0
                  deal_id: 1
                  name: Mechanical Pencil
                  product_id: 1
                  product_variation_id: null
                  order_nr: 50
                  add_time: 2019-12-19T11:36:49Z
                  update_time: 2019-12-19T11:36:49Z
                  comments: ""
                  currency: USD
                  discount: 0
                  quantity: 1
                  item_price: 90
                  tax_method: inclusive
                  discount_type: percentage
                  is_enabled: true
                  billing_frequency: one-time
                  billing_frequency_cycles: null
                  billing_start_date: 2019-12-19
              schema:
                $ref: "#/components/schemas/AddDealProductResponse"
          description: Add a product to the deal
      security:
      - api_key: []
      - oauth2:
        - products:full
        - deals:full
      summary: Add a product to a deal
      tags:
      - DealProducts
      x-tool-description: "Attaches product to deal with configurable quantity, pricing,\
        \ and discounts. Essential for sales processes, quote generation, and deal\
        \ composition. Automatically updates deal values and maintains accurate sales\
        \ tracking."
      x-token-cost: 5
  /deals/{id}/products/{product_attachment_id}:
    delete:
      description: "Deletes a product attachment from a deal, using the `product_attachment_id`."
      operationId: deleteDealProduct
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The product attachment ID
        explode: false
        in: path
        name: product_attachment_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 123
              schema:
                $ref: "#/components/schemas/DeleteDealProductResponse"
          description: Delete an attached product from a deal
      security:
      - api_key: []
      - oauth2:
        - deals:full
        - products:full
      summary: Delete an attached product from a deal
      tags:
      - DealProducts
      x-tool-description: "Removes product attachment from deal by ID, automatically\
        \ recalculating values and maintaining data integrity. Essential for negotiations,\
        \ quote revisions, composition changes, and clean product-deal relationships."
      x-token-cost: 3
    patch:
      description: Updates the details of the product that has been attached to a
        deal.
      operationId: updateDealProduct
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the deal-product (the ID of the product attached to
          the deal)
        explode: false
        in: path
        name: product_attachment_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateDealProductRequest"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 3
                  sum: 90
                  tax: 0
                  deal_id: 1
                  name: Mechanical Pencil
                  product_id: 1
                  product_variation_id: null
                  order_nr: 50
                  add_time: 2019-12-19T11:36:49Z
                  update_time: 2019-12-19T11:36:49Z
                  comments: ""
                  currency: USD
                  discount: 0
                  quantity: 1
                  item_price: 90
                  tax_method: inclusive
                  discount_type: percentage
                  is_enabled: true
                  billing_frequency: one-time
                  billing_frequency_cycles: null
                  billing_start_date: 2019-12-19
              schema:
                $ref: "#/components/schemas/AddDealProductResponse"
          description: Add a product to the deal
      security:
      - api_key: []
      - oauth2:
        - products:full
        - deals:full
      summary: Update the product attached to a deal
      tags:
      - DealProducts
      x-tool-description: "Modifies product attachment configuration within deal:\
        \ quantity, pricing, discounts, and properties. Essential for negotiations,\
        \ quantity updates, configuration corrections, and maintaining accurate deal\
        \ values."
      x-token-cost: 5
  /deals/{id}/products/bulk:
    post:
      description: Adds multiple products to a deal in a single request. Maximum of
        100 products allowed per request.
      operationId: addManyDealProducts
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createManyDealProductRequest"
      responses:
        "201":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 1
                  sum: 60.46
                  tax: 0
                  deal_id: 1
                  name: Product 1
                  product_id: 1
                  product_variation_id: null
                  order_nr: 10
                  add_time: 2019-12-19T11:36:49Z
                  update_time: 2019-12-19T11:36:49Z
                  comments: ""
                  currency: USD
                  discount: 0
                  quantity: 2
                  item_price: 30.23
                  tax_method: none
                  discount_type: percentage
                  is_enabled: true
                  billing_frequency: one-time
                  billing_frequency_cycles: null
                  billing_start_date: null
                - id: 2
                  sum: 40.5
                  tax: 0
                  deal_id: 1
                  name: Product 2
                  product_id: 2
                  product_variation_id: null
                  order_nr: 20
                  add_time: 2019-12-19T11:36:49Z
                  update_time: 2019-12-19T11:36:49Z
                  comments: ""
                  currency: USD
                  discount: 0
                  quantity: 1
                  item_price: 40.5
                  tax_method: none
                  discount_type: percentage
                  is_enabled: true
                  billing_frequency: one-time
                  billing_frequency_cycles: null
                  billing_start_date: null
              schema:
                $ref: "#/components/schemas/AddManyDealProductResponse"
          description: Add many products to a deal
      security:
      - api_key: []
      - oauth2:
        - products:full
        - deals:full
      summary: Add multiple products to a deal
      tags:
      - DealProducts
      x-tool-description: "Bulk attaches multiple products to deal with configurable\
        \ quantities, pricing, and discounts. Essential for efficient deal composition,\
        \ batch product management, and streamlined sales processes. Automatically\
        \ calculates deal values and maintains sales tracking."
      x-token-cost: 25
  /deals/{id}/discounts:
    get:
      description: Lists discounts attached to a deal.
      operationId: getAdditionalDiscounts
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 30195b0e-7577-4f52-a5cf-f3ee39b9d1e0
                  description: 10%
                  amount: 10
                  type: percentage
                  deal_id: 1
                  created_at: 2024-03-12T10:30:05Z
                  created_by: 1
                  updated_at: 2024-03-12T10:30:05Z
                  updated_by: 1
              schema:
                $ref: "#/components/schemas/GetAdditionalDiscountsResponse"
          description: List of discounts added to deal
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: List discounts added to a deal
      tags:
      - Deals
      x-tool-description: "Retrieves discount configurations applied to deal including\
        \ percentage and fixed-amount discounts. Essential for discount analysis,\
        \ deal value calculations, accurate pricing summaries, and complex promotional\
        \ arrangements."
      x-token-cost: 10
    post:
      description: "Adds a discount to a deal, changing the deal value if the deal\
        \ has one-time products attached."
      operationId: postAdditionalDiscount
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddAdditionalDiscountRequestBody"
      responses:
        "201":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 30195b0e-7577-4f52-a5cf-f3ee39b9d1e0
                  description: 10%
                  amount: 10
                  type: percentage
                  deal_id: 1
                  created_at: 2024-03-12T10:30:05Z
                  created_by: 1
                  updated_at: 2024-03-12T10:30:05Z
                  updated_by: 1
              schema:
                $ref: "#/components/schemas/AddAdditionalDiscountResponse"
          description: Discount added to deal
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Add a discount to a deal
      tags:
      - Deals
      x-tool-description: "Applies new discount to deal, automatically recalculating\
        \ values for one-time products. Essential for negotiations, promotional campaigns,\
        \ volume discounts, and maintaining accurate financial tracking."
      x-token-cost: 5
  /deals/{id}/discounts/{discount_id}:
    delete:
      description: "Removes a discount from a deal, changing the deal value if the\
        \ deal has one-time products attached."
      operationId: deleteAdditionalDiscount
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the discount
        explode: false
        in: path
        name: discount_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 123
              schema:
                $ref: "#/components/schemas/DeleteAdditionalDiscountResponse"
          description: The ID of the deleted discount.
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Delete a discount from a deal
      tags:
      - Deals
      x-tool-description: "Removes discount from deal by ID, automatically recalculating\
        \ values for one-time products. Essential when discounts become inapplicable,\
        \ negotiations change, or pricing corrections are needed."
      x-token-cost: 3
    patch:
      description: "Edits a discount added to a deal, changing the deal value if the\
        \ deal has one-time products attached."
      operationId: updateAdditionalDiscount
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the discount
        explode: false
        in: path
        name: discount_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updateAdditionalDiscountRequestBody"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 30195b0e-7577-4f52-a5cf-f3ee39b9d1e0
                  description: 10%
                  amount: 10
                  type: percentage
                  deal_id: 1
                  created_at: 2024-03-12T10:30:05Z
                  created_by: 1
                  updated_at: 2024-03-12T10:30:05Z
                  updated_by: 1
              schema:
                $ref: "#/components/schemas/UpdateAdditionalDiscountResponse"
          description: Edited discount.
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Update a discount added to a deal
      tags:
      - Deals
      x-tool-description: "Modifies existing discount configuration on deal, automatically\
        \ recalculating values for one-time products. Essential for discount adjustments,\
        \ corrections, promotional updates, and maintaining pricing integrity."
      x-token-cost: 5
  /deals/installments:
    get:
      description: |
        Lists installments attached to a list of deals.

        Only available in Growth and above plans.
      operationId: getInstallments
      parameters:
      - description: An array of integers with the IDs of the deals for which the
          attached installments will be returned. A maximum of 100 deal IDs can be
          provided.
        explode: true
        in: query
        name: deal_ids
        required: true
        schema:
          items:
            type: integer
          type: array
        style: form
      - description: "For pagination, the marker (an opaque string value) representing\
          \ the first item on the next page"
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: "For pagination, the limit of entries to be returned. If not\
          \ provided, 100 items will be returned. Please note that a maximum value\
          \ of 500 is allowed."
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 100
          type: integer
        style: form
      - description: "The field to sort by. Supported fields: `id`, `billing_date`,\
          \ `deal_id`."
        explode: true
        in: query
        name: sort_by
        required: false
        schema:
          default: id
          enum:
          - id
          - billing_date
          - deal_id
          type: string
        style: form
      - description: "The sorting direction. Supported values: `asc`, `desc`."
        explode: true
        in: query
        name: sort_direction
        required: false
        schema:
          default: asc
          enum:
          - asc
          - desc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                - id: 1
                  amount: 10
                  billing_date: 2025-03-10
                  deal_id: 1
                  description: Delivery Fee
              schema:
                $ref: "#/components/schemas/GetInstallmentsResponse"
          description: List installments added to a deal
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: List installments added to a list of deals
      tags:
      - DealInstallments
      x-tool-description: "Retrieves payment installments across multiple deals (up\
        \ to 100 IDs) in single request. Restricted to Growth+ plans. Essential for\
        \ bulk installment analysis, payment reporting, and enterprise cash flow management."
      x-token-cost: 10
  /deals/{id}/installments:
    post:
      description: "Adds an installment to a deal.\n\nAn installment can only be added\
        \ if the deal includes at least one one-time product. \nIf the deal contains\
        \ at least one recurring product, adding installments is not allowed.\n\n\
        Only available in Growth and above plans.\n"
      operationId: postInstallment
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddInstallmentRequestBody"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  amount: 10
                  billing_date: 2025-03-10
                  deal_id: 1
                  description: Delivery Fee
              schema:
                $ref: "#/components/schemas/AddAInstallmentResponse"
          description: Installment added to deal
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Add an installment to a deal
      tags:
      - DealInstallments
      x-tool-description: "Creates payment installment for deals with one-time products,\
        \ enabling split payment schedules. Restricted to Growth+ plans and incompatible\
        \ with recurring products. Essential for enterprise deals and custom payment\
        \ terms."
      x-token-cost: 5
  /deals/{id}/installments/{installment_id}:
    delete:
      description: |
        Removes an installment from a deal.

        Only available in Growth and above plans.
      operationId: deleteInstallment
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the installment
        explode: false
        in: path
        name: installment_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
              schema:
                $ref: "#/components/schemas/DeleteInstallmentResponse"
          description: The ID of the deleted installment.
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Delete an installment from a deal
      tags:
      - DealInstallments
      x-tool-description: "Removes payment installment from deal by ID, simplifying\
        \ schedules or correcting structures. Restricted to Growth+ plans. Essential\
        \ when payment terms change or installments are no longer needed."
      x-token-cost: 3
    patch:
      description: |
        Edits an installment added to a deal.

        Only available in Growth and above plans.
      operationId: updateInstallment
      parameters:
      - description: The ID of the deal
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: The ID of the installment
        explode: false
        in: path
        name: installment_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateInstallmentRequestBody"
      responses:
        "200":
          content:
            application/json:
              example:
                success: true
                data:
                  id: 1
                  amount: 10
                  billing_date: 2025-03-10
                  deal_id: 1
                  description: Delivery Fee
              schema:
                $ref: "#/components/schemas/UpdateInstallmentResponse"
          description: Edited installment.
      security:
      - api_key: []
      - oauth2:
        - deals:read
        - deals:full
      summary: Update an installment added to a deal
      tags:
      - DealInstallments
      x-tool-description: "Modifies existing payment installment within deal: amounts,\
        \ dates, or terms. Restricted to Growth+ plans. Essential for renegotiating\
        \ schedules, corrections, and maintaining flexible payment arrangements."
      x-token-cost: 5
  /deals/{id}/convert/lead:
    post:
      description: "Initiates a conversion of a deal to a lead. The return value is\
        \ an ID of a job that was assigned to perform the conversion. Related entities\
        \ (notes, files, emails, activities, ...) are transferred during the process\
[...]
